.paragraph-with-image {
  img {
    padding: 0 30px 30px 0;
    width: 30%;
    height: auto;
    float: left;
  }
}


h3.about-header {
  color: black;
  animation: example 1s infinite;
}

@keyframes example {
  from {color: black;}
  to {color: red;}
}