footer {
  display: flex;
  justify-content: space-between;
  .page-navigation {
    .nav {
      &__list-item {
        display: block;
        padding: 0 20px 20px 0;
      }
    }
  }

  .contact-us {
    ul {
      li {
        padding: 0 0 20px 0;
        a {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

