@font-face {
    font-family: 'BPGArialCaps2010';
    src: url('BPGArialCaps2010.eot');
    src: url('BPGArialCaps2010.eot?#iefix') format('embedded-opentype'),
        url('BPGArialCaps2010.woff2') format('woff2'),
        url('BPGArialCaps2010.woff') format('woff'),
        url('BPGArialCaps2010.ttf') format('truetype'),
        url('BPGArialCaps2010.svg#BPGArialCaps2010') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPGArial2010';
    src: url('BPGArial2010.eot');
    src: url('BPGArial2010.eot?#iefix') format('embedded-opentype'),
        url('BPGArial2010.woff2') format('woff2'),
        url('BPGArial2010.woff') format('woff'),
        url('BPGArial2010.ttf') format('truetype'),
        url('BPGArial2010.svg#BPGArial2010') format('svg');
    font-weight: normal;
    font-style: normal;
}

